{% extends 'EmployeesList/base.html' %}
{% block content %}
<div class="tabs">
  {% for b, e, l in ranges %}
  <div class="tab">
    <input type="radio" name="tabs" id="tab-{{b}}{{e}}" {% ifequal b 'А' %} checked {% endifequal %}>
    <label for="tab-{{b}}{{e}}">{{b}} - {{e}}</label>
    <div class="content">
      {% for emp in l %}
      <div class="row">
        <a href="{% url 'EmployeesList:employee' id=emp.id %}">{{emp.secondname}}</a>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
