{% extends 'EmployeesList/base.html' %}
{% block title %}Список работников{% endblock %}
{% block content %}
<div class="tabs">
  {% for begchr, endchr, emplist, gid in ranges %}
  <div class="tab">
    <input type="radio" name="tabs" id="tab-{{gid}}" {% ifequal begchr 'А' %} checked {% endifequal %}>
    <label for="tab-{{gid}}">{{begchr}} - {{endchr}}</label>
    <div class="content">
      {% for emp in emplist %}
      <div class="row">
        <a href="{% url 'EmployeesList:employee' id=emp.id %}">{{emp.secondname}}</a>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
